<html lang="en" op="news">

<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://news.ycombinator.com/news.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://news.ycombinator.com/rss">
    <title>HN Since</title>
    <script async defer data-domain="hnsince.com" src="https://plausible.randomforest.ee/pls.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>

<body>
    <a id="gh-logo" target="_blank" href="https://github.com/KristerV/hnsince">
        <img src="https://raw.githubusercontent.com/rdimascio/icons/master/icons/github.svg"/>
    </a>
    <center>

          <td><h3>HN Since your last visit

          <%= cond do %>
            <% !is_nil(@forced) -> %> <%= @forced |> Timex.from_now() %>
            <% length(@previous_visits) > 0 -> %> <%= @previous_visits |> List.first() |> Map.get(:human) %>
            <%= if @lock do %>
                <a title="unlock visit time" href="?lock=false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="lock-icon"><path d="M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z"/></svg>
                </a>
            <% else %>
                <a title="lock visit time so you can continue from here next visit" href="?lock=<%= @previous_visits |> List.first() |> Map.get(:inserted_at) |> DateTime.to_unix() %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="lock-icon"><path d="M8 10v-4c0-2.206 1.794-4 4-4 2.205 0 4 1.794 4 4v1h2v-1c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-13z"/></svg>
                </a>
            <% end %>
            <% true -> %> <a target="_blank" href="https://news.ycombinator.com/item?id=1">on Oct 9, 2006 (HN first post)</a>
          <% end %>

          </h3></td>

          <%= if is_nil(@launch_seen) do %>
            <div id="email-list">
                <p>You're an early adopter of HNSince!</p>
                <p>We're launching on HN in a month. Get notified by email
                <script>
                function handleEmailSubmit(e) {
                    plausible('gave-email')
                    e.preventDefault()
                    const email = e.target.querySelector("input[type=email]").value
                    fetch('/api/v1/submit-email?email=' + email)
                    document.querySelector("#email-list").innerHTML = "Nice! You'll be the first to know"
                }
                </script>
                <form onsubmit="handleEmailSubmit(event)">
                    <input placeholder="your email" type="email"/>
                    <input type="submit" value="send">
                </form>
                </p>
            </div>
          <% end %>


          <%= if !is_nil(@forced) and is_nil(@lock) do %>
            <p><a href="/" class="hns-subtext">"Last visit" time is overridden. Click here to see recent stories.</a></p>
          <% end %>
          <%= if @lock do %>
            <p><a href="?lock=false" class="hns-subtext">"Last visit" time is locked. Click here to see recent stories.</a></p>
          <% end %>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tr>
                <td bgcolor="#ff6600">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                        <tr>
                            <td style="width:18px;padding-right:4px">
                                <a href="https://news.ycombinator.com"><img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;"></a>
                            </td>
                            <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="https://news.ycombinator.com/news">Hacker News</a></b>
              <a href="https://news.ycombinator.com/newest">new</a> | <a href="https://news.ycombinator.com/front">past</a> | <a href="https://news.ycombinator.com/newcomments">comments</a> | <a href="https://news.ycombinator.com/ask">ask</a> | <a href="https://news.ycombinator.com/show">show</a> | <a href="https://news.ycombinator.com/jobs">jobs</a> | <a href="https://news.ycombinator.com/submit">submit</a>            </span></td>
                            <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="https://news.ycombinator.com/login?goto=news">login</a>
                          </span></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="pagespace" title="" style="height:10px"></tr>
            <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                    <%= @inner_content %>
                  </table>
                </td>
            </tr>
            <tr>
                <td><img src="https://news.ycombinator.com/s.gif" height="10" width="0">
                    <table width="100%" cellspacing="0" cellpadding="1">
                        <tr>
                            <td bgcolor="#ff6600"></td>
                        </tr>
                    </table><br>
                    <center><span class="yclinks"><a href="https://news.ycombinator.com/newsguidelines.html">Guidelines</a>
        | <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a>
        | <a href="https://news.ycombinator.com/lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="https://news.ycombinator.com/security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
                        <form method="get" action="//hn.algolia.com/">Search:
                            <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
                    </center>
                </td>
            </tr>
        </table>
        <%= if length(@previous_visits) > 0 do %>
            <div>
                <h3>Your previous visits</h3>
                <%= for visit <- List.delete_at(@previous_visits, 0) do %>
                    <p><a style="color: #828282" href="?visit=<%= visit.unix %>"><%= visit.human %></a></p>
                <% end %>
            </div>
        <% end %>

        <div class="btm-text">
            <h3>FAQ</h3>

            <h5>What is this?</h5>
            <p>Read the top stories since you last visited. No FOMO during vacation! Or if you're a nut and read every hour - now you'll only see new stories (unline /new, where you must figure out where you left off yourself.</p>

            <h5>So why am I still seeing older stories than my last visit?</h5>
            <p>I know you don't want to miss any stories so I've made sure even the ones that become popular after you've visited. This is only a 48h window though.</p>

            <h5>How are stories ordered</h5>
            <p>First by points, so most popular posts are always at the top. Second by time (ascending) so if you're visiting every hour you'll get to read all of the stories that are posted (the last story you see will be the newest).</p>

            <h5>Many stories turn out empty after clicking</h5>
            <p>HN deletes a lot of stories it deems as spam. If you're visiting so often that you see 1 point stories, then they may be deleted from HN right after your page loads. I thought it was strange at first, but when I started following the links (story may be empty, but your HNSince page still has the link) I realized that moderation is what keeps HN interesting.</p>

            <h5>Can I share my session between deviced?</h5>
            <p>Sure. Just copy <a href="?session_id=<%= @session_id %>">this link</a> and open it in your other device. The old session in the other device will be overwritten. To reset a session <a href="?session_id=reset">click here</a>.</p>

            <h5>I have some thoughts...</h5>
            <p>I'd love to hear them either in Discussions / Issues (GH link up-left corner) or email me hnsince[ät]krister.ee.</p>

            <h5>How many people come through here?</h5>
            <p>There are public stats <a target="_blank" href="https://plausible.io/hnsince.com">available at Plausible</a>.</p>

            <h5>Something has changed.. did you do that?</h5>
            <p>You can find <a target="_blank" href="https://github.com/KristerV/HNSince/blob/main/CHANGELOG.md">the changelog in the repo</a>.</p>
        </div>
    </center>
</body>
<%# <script type='text/javascript' src='https://news.ycombinator.com/hn.js'></script> %>

<style>
#gh-logo {
    width: 1.6rem;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
}
h3 {
    margin: 1rem;
}
h3 > a {
    color: #828282 !important;
}
.lock-icon {
    fill: #828282;
    cursor: pointer;
}
.hns-subtext {
    color: #828282 !important;
}
.btm-text {
    text-align: left;
    max-width: 600px;
}

.btm-text a {
    text-decoration-line: underline;
    color: #828282;
}

.btm-text * {
    margin-left: 0;
}

</style>

</html>
